@import '../../../scss/helpers/import';

.component{}
.wrapper{
    @include centered($max-width);
    margin: {
        top: $standard-vertical-spacing;
        bottom: $standard-vertical-spacing;
    };
}

.card{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}

.media{
    position: relative;
    width: 30%;
    height: 200px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s $ease-out-quint;
    border-radius: 5px;
    overflow: hidden;
}

.richtext{
    width: 70%;
    p{
        font-size: 20px;
    }
}

.fadeinLeft{
    @include scroll-animation($anim: fromLeft, $sequence: 60ms, $speed: 1000ms );
}

.fadeinRight{
    @include scroll-animation($anim: fromRight, $sequence: 60ms, $speed: 1000ms );
}

.sliderWrapper{
    position: relative;
    width: 30%;
    height: 200px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s $ease-out-quint;
    border-radius: 5px;
    overflow: hidden;
}