@import '../../../scss/helpers/import';

$cWidth: 985px;
$cHeight: $cWidth * 1.64365;
$unit: $cWidth * 0.274;
.component {
    width: 100%;
}

.wrapper {
    position: relative;
}

.quartersContain{
  position: relative;
  @include centered($max-width);
}


.heroText{
  @include centered($max-width);
  h1{
    position: relative;
    transform: translate3d(0,0,0);
    opacity: 1;
    margin-bottom: 5px;
    margin-top: 0;
    color: $gray;
  }
}
.heroSubWrap{
  @include centered($max-width);
}
.heroSub{
  position: relative;
  transform: translate3d(0,0,0);
  opacity: 1;
  font-size: 32px;
  line-height: 147%;
  width: 680px;
  margin-top: 240px;
  color: $dk-gray;
  strong{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    &:nth-of-type(1){color: $blue}
    &:nth-of-type(2){color: $red}
    &:nth-of-type(3){color: $dk-blue}
  }
}

.infoSteps{
  position: relative;
  margin-top: 100px;
}

.infoStep {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: $white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  overflow: hidden;
  padding: 80px 0;
  &:nth-child(even){
    background-color: $off-black;
    color: $white;
    h3,h4,p{
      color: $white;
    }
  } 
  display: flex;
  align-items: center;
}

.infoStepA{
  display: block;
  clip-path: none;
  overflow: visible;
  .infoStepContain{
    position: relative;
  }
  &.isLocked{
     clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    .infoStepContain{
      position: fixed;
    }
  }
}

.infoStepContain{
  @include setup-perspective(1000px);
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 114px;
    text-transform: uppercase;
  }
  h3{
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: $dk-gray;
    @include centered(500px);
  }
  p{
        @include centered(730px);
        margin-top: 40px;
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $dk-gray;
  }
  a{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: $red;
    border-left: 1px solid $red;
    border-right: 1px solid $red;
    padding: 10px 20px;
    margin-top: 45px;
    transition: all 400ms $ease-out-quint;
    &:hover{
      padding: 10px 40px;
    }
  }
}

.infoStepsLogo{
  margin: 0 auto;
  width:200px;
  height:200px;
  position: relative;
  color: $white;
}

.logoLeft, .logoBottom, .logoRight {
    position: absolute;
    z-index:1;
    svg{
      stroke: black;
      stroke-width: 1px;
      stroke-opacity: 0.3;
      color: transparent;
    }
}
.logoLeft{
      top: 0;
      left: 0;
}
.logoBottom{
      top:50px;
      left: -3px;

}
.logoRight{
      top: 37px;
      left: 115px;
}

.infoStepA{
  .infoStepContain{
    h2{
      color: $blue;
    }
  }
  .logoLeft{
    z-index:2;
    svg{
      color: $blue;
      stroke: $blue;
    }
  }
}

.infoStepB{
  .logoLeft, .logoBottom, .logoRight {
      svg{
        stroke: $white;
      }
  }
  .infoStepContain{
    h2{
      color: $red;
    }
  }
  .logoBottom{
    z-index:2;
    svg{
      color: $red;
      stroke: $red;
    }
  }
}
.infoStepC{
  .logoLeft, .logoBottom, .logoRight {
      svg{
        stroke: $black;
      }
  }
  .infoStepContain{
    h2{
      color: $dk-blue;
    }
  }
  .logoRight{
    z-index:2;
    svg{
      color: $dk-blue;
      stroke: $dk-blue;
    }
  }
}
.infoStepD{
  .logoLeft, .logoBottom, .logoRight {
      svg{
        stroke: $black;
      }
  }
  .infoStepContain{
    h2{
      color: $red;
    }
  }
  .logoLeft{
    svg{
      color: $blue;
      stroke: $blue;
    }
  }
  .logoRight{
    svg{
      color: $red;
      stroke: $red;
    }
  }
  .logoBottom{
    svg{
      color: $dk-blue;
      stroke: $dk-blue;
    }
  }
}
.quarters {
    position: absolute;
    top:-$unit*1.3;
    right:-($cWidth/3);
    width: $cWidth;
    padding-bottom: $cWidth * 1.64365;
    transition: all 300ms $ease-out-quint;
    transform-origin: bottom left;
    @include setup-perspective(1000px);
}

.quarterPlacer{
    position: absolute;
    width: $unit;
    padding-bottom: $unit;

    &:nth-child(1) {
        left: $unit;
        top: 2px;
        z-index: 10;
    }

    &:nth-child(2) {
        left: $unit;
        top: -1px;
        z-index: 12;
        mix-blend-mode: hard-light;
    }

    &:nth-child(3) {
        left: $unit * 2.637;
        top: -0.5px;
        z-index: 11;
    }

    &:nth-child(4) {
        left: $unit*2.635;
        top: -$unit / 2.8;
        z-index: 10;
    }

    &:nth-child(5) {
        left: $unit;
        top: $unit*1.636;
        z-index: 11;
    }

    &:nth-child(6) {
        left: ($unit*2.637)+1;
        top: $unit*1.64;
        z-index: 10;
    }

    &:nth-child(7) {
        left: $unit*2.637;
        top: $unit*1.64;
        z-index: 10;
    }

    &:nth-child(8) {
        left: $unit;
        top: $unit*2.637;
        z-index: 10;
    }

    &:nth-child(9) {
        left: $unit - 1px;
        top: $unit*2.637;
        z-index: 12;
    }

    &:nth-child(10) {
        left: $unit;
        top: $unit*1.63;
        z-index: 11;
    }

    &:nth-child(11) {
        left: $unit*2.637;
        top: ($unit*1.64)-2;
        z-index: 10;
    }

    &:nth-child(12) {
        left: ($unit*2.637) - 1;
        top: ($unit*1.64)-1;
        z-index: 10;
    }

    &:nth-child(13) {
        left: $unit - 1px;
        top: $unit*2.637;
        z-index: 10;

        svg path {
            stroke: black;
            stroke-width: 1px;
            stroke-opacity: 0.3;
        }
    }

}
.quarter {
    position: absolute;
    transform-origin: bottom left;
    width: 100%;
    height: 100%;
    .quarterPlacer:nth-child(1) &{
        color: $dk-blue;
        transform:rotateX(0deg);
    }

    .quarterPlacer:nth-child(2) &{
        color: $brown;
        transform: rotateZ(90deg);
    }

    .quarterPlacer:nth-child(3) &{
        color: $lt-gray;
        transform: rotateZ(180deg);
    }

    .quarterPlacer:nth-child(4) &{
        color: $red;
        transform: rotateZ(90deg);
    }

    .quarterPlacer:nth-child(5) &{
        color: $lt-gray;
        transform: rotateZ(0deg);
    }

    .quarterPlacer:nth-child(6) &{
        color: $dk-blue;
        transform: rotateZ(270deg);
    }

    .quarterPlacer:nth-child(7) &{
        color: $blue;
        transform: rotateZ(0deg);
    }

    .quarterPlacer:nth-child(8) &{
        color: $lt-gray;
        transform: rotateZ(270deg);
    }

    .quarterPlacer:nth-child(9) &{
        color: $blue;
        transform: rotateZ(0deg);
    }

    .quarterPlacer:nth-child(10) &{
        color: $red;
        transform: rotateZ(90deg);
    }

    .quarterPlacer:nth-child(11) &{
        color: $dk-blue;
        transform: rotateZ(180deg);
    }

    .quarterPlacer:nth-child(12) &{
        color: $red;
        transform: rotateZ(90deg);
    }

    .quarterPlacer:nth-child(13) &{
        color: white;
        transform: rotateZ(90deg);
        svg {
            stroke: black;
            stroke-width: 1px;
            stroke-opacity: 0.3;
        }
    }
    svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    transition: all 2000ms $ease-out-quint;

    &:not(.jsVisible) {
        opacity: 0;
        transform: rotateZ(90deg) !important;
    }
}
