@import "../scss/helpers/import.scss";

.component {
    @include centered ($max-width);
    display: block;
}

.linkWrapper{
    display: flex;
    flex-direction: column;
    width: 200px;
    a{
        display: block;
        padding: 30px;
    }
}