@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Condensed', sans-serif;
}

p, a, div {
  font-family: Roboto;
}

h4{
  font-size: 30px;
}

p{
  font-size: 20px;
}


