@import '../../../scss/helpers/import';

.component{
    background-color: $black;
}

.wrapper{
    @include centered($max-width);
    margin: {
        top: 0;
        bottom: 0;
    };
    h4{
        color: $white;
        margin: 0;
        text-align: center;
    }
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 500px;
    height: 250px;
    &_left{
        @extend .card;
        border-right: 5px dashed #FFFFFF;
    }
}