@import '../../../scss/helpers/import';

.component{
    background-color: $white;
}

.wrapper{
    @include centered($max-width);
    margin: {
        top: $standard-vertical-spacing;
        bottom: $standard-vertical-spacing;
    };
    h4{
        color: $black;
        margin: 0;
        text-align: center;
    }
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 10px;
    height: 100%;
    background-color: $black;
    border-radius: 5px 5px 0 0;
}

.card{
    display: flex;
    gap: 10px;
    width: 500px;
    height: 250px;
    &_left, &_right{
        @extend .card;
        flex-direction: column;
    }
    &:last-of-type{
        .line{
            border-radius: 0 0 5px 5px;
        }
    }
}

