// Put all psuedoclasses and/or mixins here.
// Important!! -- This should not contain any printable css.

// paragraph set based on Body Med (p)
%body-med{
    font-family: 'Urbanist', sans-serif;  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
}

%body-med-bold{
    @extend %body-med;
    font-weight: 500
}

%body-sm{
    @extend %body-med;
    font-size: 12px;
    line-height: 117%;
}

%body-sm-bold{
    @extend %body-sm;
    font-weight: 500;
}

%body-lg-bold{
    @extend %body-med-bold;
    font-size: 20px;
    line-height: 130%
}

%body-lg{
    @extend %body-med;
    font-size: 20px;
    line-height: 130%
}

// Navigation set
%tab{
    font-family: 'Urbanist', sans-serif;  
    font-style: normal;
    font-size: 18px;
    line-height: 117%;
    text-transform: uppercase;
}

%tab-inactive{
    @extend %tab;
    font-weight: 400;
}

%tab-active{
    @extend %tab;
    font-weight: 500;
}

%main-nav{
    font-family: 'Urbanist', sans-serif;  
    font-style: normal;
    font-size: 14px;
    line-height: 228.19%;
}

%main-nav-inactive{
    @extend %main-nav;
    font-weight: 400;
}

%main-nav-active{
    @extend %main-nav;
    font-weight: 500;
}

// Misc style
%stats{
    font-family: 'Urbanist', sans-serif;  
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 117%;
}

%job-title{
    font-family: 'Urbanist', sans-serif;  
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
}

// button set (text style included in a)
%button{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 5px;
    padding: 25px;
    margin: 10px 0
}

%button-blue{
    @extend %button;
    color: $white;
        // background-color: $accent-blue;
    &:hover{
        // background-color: $aos-blue;
    }
}

%button-gold{
    @extend %button;
    color: $white;
    // background-color: $aos-gold;
    &:hover{
        background-color: #D68909;
    }
}

%button-cta{
    @extend %button;
    padding: 12.5px 10px;
}

%link-default{
    display: flex;
    flex-direction: row;
    // color: $accent-blue;
    &::after{
        content: ">";
        margin-left: 10px;
        display: block;
    }
    &:hover{
        &::after{
            transform: translateX(10px);
            transition: all 250ms $ease-out-quint;
        }
    }
    &:not(:hover){
        &::after{
            transform: translateX(0px);
            transition: all 250ms $ease-out-quint;
        }
    }
}

%link-text{
    font-size: 16px;
    font-weight: 500;
    // color: $accent-blue;
    text-decoration: none;
    &:hover{
        // color: $aos-blue;
    }
}