.rich-text {
    .chronos-grid {
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }

    .chronos-grid__child {
        display: block;
        box-sizing: border-box;
        min-height: 40px;
    }

    .chronos-grid__child:first-child {
        padding-right: 16px;
    }

    .chronos-grid__child:last-child {
        padding-left: 16px;
    }

    .chronos-grid__child img {
        max-width: 100%;
        height: auto;
    }

    .chronos-grid__child>*:first-child {
        margin-top: 0;
    }

    .chronos-grid--6-6 .chronos-grid__child:first-child {
        flex-basis: 50%
    }

    .chronos-grid--6-6 .chronos-grid__child:last-child {
        flex-basis: 50%
    }

    .chronos-grid--3-9 .chronos-grid__child:first-child {
        flex-basis: 25%
    }

    .chronos-grid--3-9 .chronos-grid__child:last-child {
        flex-basis: 75%
    }

    .chronos-grid--9-3 .chronos-grid__child:first-child {
        flex-basis: 75%
    }

    .chronos-grid--9-3 .chronos-grid__child:last-child {
        flex-basis: 25%
    }


    .chronos-grid--5-7 .chronos-grid__child:first-child {
        flex-basis: 41.6666%
    }

    .chronos-grid--5-7 .chronos-grid__child:last-child {
        flex-basis: 58.3333%
    }

    .chronos-grid--7-5 .chronos-grid__child:first-child {
        flex-basis: 58.3333%
    }

    .chronos-grid--7-5 .chronos-grid__child:last-child {
        flex-basis: 41.6666%
    }


    .chronos-grid--8-4 .chronos-grid__child:first-child {
        flex-basis: 66.666666%
    }

    .chronos-grid--8-4 .chronos-grid__child:last-child {
        flex-basis: 33.333333%
    }

    .chronos-grid--4-8 .chronos-grid__child:first-child {
        flex-basis: 33.333333%
    }

    .chronos-grid--4-8 .chronos-grid__child:last-child {
        flex-basis: 66.666666%
    }
    
    .align-left {
        text-align: left;
    }
        
    .align-center {
        text-align: center;
    }

    .align-right{
        text-align: right;
    }
    

    a {
        font-size: 16px;
        font-weight: 500;
        // color: #0194D3;
        text-decoration: none;
    }

    a:hover {
        // color: #002B54;
    }

    hr{
        display: block;
        margin: 30px auto;
        padding: 0;
        width: 154px;
        border:0;
        height: 1px;
        background-color: #0194D3;
    }



    /* custom classes to be options in ck-edit below this line */

    h1,
    .t-h1 {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 300;
        // font-size: 56px;
        // line-height: 66px;
        // color: #6F6F6F;
    }

    .t-h1-blue {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 300;
        // font-size: 56px;
        // line-height: 66px;
        // color: #0194D3;
    }

    h2,
    .t-h2 {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 300;
        // font-size: 40px;
        // line-height: 47px;
        // color: #6F6F6F;
    }

    .t-h2-blue {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 300;
        // font-size: 40px;
        // line-height: 47px;
        // color: #0194D3;
    }

    h3,
    .t-h3 {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 300;
        // font-size: 30px;
        // line-height: 36px;
        // color: #6F6F6F;
    }

    h4,
    .t-h4 {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 26px;
        // line-height: 32px;
    }

    .t-h4-blue {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 26px;
        // line-height: 32px;
        // color: #0194D3;
    }

    h5,
    .t-h5 {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 22px;
        // line-height: 26px;
        // color: #6F6F6F;
    }

    .t-h5-blue {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 22px;
        // line-height: 26px;
        // color: #0194D3;
    }

    .t-h5-red {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 22px;
        // line-height: 26px;
        color: #f05133;
    }
    h6,
    .t-h6 {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 20px;
        // line-height: 30px;
        // color: #6F6F6F;
    }

    .t-eyebrow-lg+*,
    .t-eyebrow-md+*,
    .t-eyebrow-sm+*,
    .t-eyebrow-sm-blue+* {
        margin-top: 0;
    }

    .t-eyebrow-lg,
    .t-eyebrow-md,
    .t-eyebrow-sm,
    .t-eyebrow-sm-blue {
        margin-bottom: 5px;
    }

    .t-eyebrow-lg {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 26px;
        // line-height: 30px;
        // text-transform: uppercase;
        // color: #6F6F6F;
    }

    .t-eyebrow-md {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 500;
        // font-size: 20px;
        // line-height: 23px;
        // text-transform: uppercase;
        // color: #6F6F6F;
    }

    .t-eyebrow-sm {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 400;
        // font-size: 18px;
        // line-height: 24px;
    }

    .t-eyebrow-sm-blue {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 400;
        // font-size: 18px;
        // line-height: 24px;
        // text-transform: uppercase;
        // color: #0194D3;
    }

    .t-body-lg {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 400;
        // font-size: 24px;
        // line-height: 30px;
        // color: #6F6F6F;
        // margin-top: 0;
        // margin-bottom: 0;
    }

    .t-body-lg-blue {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 400;
        // font-size: 24px;
        // line-height: 30px;
        // color: #0194D3;
        // margin-top: 0;
        // margin-bottom: 0;
    }

    .t-body-lg-dk-blue {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 400;
        // font-size: 24px;
        // line-height: 30px;
        // color: #002B54;
        // margin-top: 0;
        // margin-bottom: 0;
    }

    .t-body-med {
        // font-family: 'Roboto';
        // font-style: normal;
        // font-weight: 400;
        // font-size: 16px;
        // line-height: 22px;
        // color: #6F6F6F;
    }

    .t-button {
        // display: inline-block;
        // padding: 20px 40px;
        // font-size: 18px;
        // text-transform: uppercase;
        // text-decoration: none;
        // color: white;
        // background-color: #00AEEF;
        // border: 1px solid transparent;
    }

    .t-button:hover {
        // border: 1px solid #00AEEF;
        // background-color: transparent !important;
        // color: #00AEEF;
    }

    .t-button-dark {
        // display: inline-block;
        // padding: 20px 40px;
        // font-size: 18px;
        // text-transform: uppercase;
        // text-decoration: none;
        // color: white;
        // background-color: #002B54;
    }

    .t-button-dark:hover {
        // background-color: #0194D3;
        // color: $white !important;
    }

    .text-align-center{
        // text-align: center;
    }

    .cke_combopanel__format,
    .cke_combopanel__styles {
        width: 250px !important;
        border: 1px solid #666 !important;
        border-top: none !important;
    }
    figure{
        display: block;
        margin: 0;
    }

    //drupal nonsense:
    .visually-hidden{
        display: none;
    }

}

@include responsive (md){
    .rich-text {
        .chronos-grid {
            display: flex;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
        }
    
        .chronos-grid__child {
            display: block;
            box-sizing: border-box;
            min-height: 40px;
        }
    
        .chronos-grid__child:first-child {
            padding-right: 0px;
            padding-bottom: 16px;
        }
    
        .chronos-grid__child:last-child {
            padding-left: 0px;
        }
    
        .chronos-grid__child img {
            max-width: 100%;
            height: auto;
        }
    
        .chronos-grid__child>*:first-child {
            margin-top: 0;
        }
    
        .chronos-grid--6-6 .chronos-grid__child:first-child {
            flex-basis: 100%
        }
    
        .chronos-grid--6-6 .chronos-grid__child:last-child {
            flex-basis: 100%
        }
    
        .chronos-grid--3-9 .chronos-grid__child:first-child {
            flex-basis: 100%
        }
    
        .chronos-grid--3-9 .chronos-grid__child:last-child {
            flex-basis: 100%
        }
    
        .chronos-grid--9-3 .chronos-grid__child:first-child {
            flex-basis: 100%
        }
    
        .chronos-grid--9-3 .chronos-grid__child:last-child {
            flex-basis: 100%
        }
    
    
        .chronos-grid--5-7 .chronos-grid__child:first-child {
            flex-basis: 100%
        }
    
        .chronos-grid--5-7 .chronos-grid__child:last-child {
            flex-basis: 100%
        }
    
        .chronos-grid--7-5 .chronos-grid__child:first-child {
            flex-basis: 100%
        }
    
        .chronos-grid--7-5 .chronos-grid__child:last-child {
            flex-basis: 100%
        }
    
    
        .chronos-grid--8-4 .chronos-grid__child:first-child {
            flex-basis: 100%
        }
    
        .chronos-grid--8-4 .chronos-grid__child:last-child {
            flex-basis: 100%
        }
    
        .chronos-grid--4-8 .chronos-grid__child:first-child {
            flex-basis: 100%
        }
    
        .chronos-grid--4-8 .chronos-grid__child:last-child {
            flex-basis: 100%
        }
    }
}