@import '../../../scss/helpers/import';

.component{
    background-color: #221E1F;
    padding: 25px 0
}
.wrapper{
    @include centered($max-width);
    margin: {
        top: $standard-vertical-spacing;
        bottom: $standard-vertical-spacing;
    };
}

.inner{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @include responsive (md) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
    }
}

.chronos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: $white;
    p{
        font-family: 'Open Sans';
        @include scroll-animation($anim: fromRight, $speed: 1000ms );
    }
}

.logo{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 15px 0 24px 0;
    @include scroll-animation($anim: fromTop, $speed: 1000ms );
    @include responsive (md) {
        margin: 15px 0;
    }
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a{
        @include scroll-animation($anim: fromRight, $sequence: 60ms, $speed: 1000ms );
        text-transform: uppercase;
        color: $white;
        @extend %body-lg;
        font-family: 'Kulim Park';
        margin-bottom: 12px;
    }
    @include responsive (md) {
        align-items: flex-start;
    }
}
