@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');@import './helpers/import';
@import './helpers/import';


html{
    font-family: "Sarabun", sans-serif;
}

body{
    background-color: rgba($color: $green-blue, $alpha: 0.1);
    .content-area{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
    }
}

// h1, h2, h3, h4, h5, h6{
//     font-family: "Sarabun", sans-serif;
//     font-weight: 700;
//     text-transform: uppercase;
//     color: #000;
// }

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 64px !important;
    margin: 0 0 20px 0 !important;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
}

h6 {
    font-family: "Sarabun", sans-serif;
    font-size: 24px;
    line-height: normal;
    margin: 0 0 20px 0;
}


a{
    text-decoration: none;
    color: #000; 
    &:hover{
        text-decoration: underline;
        text-decoration-thickness: 2px ;
        text-underline-offset: 2px;

    }
}