@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');@import './helpers/import';
@import './helpers/import';


html{
    font-family: "Sarabun", sans-serif;
}

body{
    background-color: rgba($color: $green-blue, $alpha: 0.1);
    .content-area{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        // max-width: $max-width;
        // margin: 0 auto;
        background-color: $lt-yellow;
    }
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 96px;
    margin: 0 0 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    word-break: break-word;
    hyphens: auto;
    @include responsive(lg) {
        font-size: 72px;
    }
    @include responsive(md) {
        font-size: 56px;
    }
    @include responsive(sm) {
        font-size: 48px;
    }
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 72px ;
    margin: 0 0 20px 0 ;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    word-break: break-word;
    hyphens: auto;
    @include responsive(lg) {
        font-size: 56px ;
    }
    @include responsive(md) {
        font-size: 48px 
    }
    @include responsive(sm) {
        font-size: 36px;
    }
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: normal;
    margin: 0 0 20px 0;
    word-break: break-word;
    @include responsive(lg) {
        font-size: 28px;
    }
    @include responsive(md) {
        font-size: 24px;
    }
    @include responsive(sm) {
        font-size: 20px;
    }
}

h4{
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    line-height: normal;
    margin: 0 0 20px 0;
    word-break: break-word;
    @include responsive(lg) {
        font-size: 24px;
    }
    @include responsive(md) {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    @include responsive(sm) {
        font-size: 18px;
    }
}

h5 {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    margin: 0 0 20px 0;
    word-break: break-word;
    @include responsive(lg) {
        font-size: 20px;
    }
    @include responsive(md) {
        font-size: 18px;
    }
    @include responsive(sm) {
        font-size: 16px;
    }
}

h6 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: normal;
    margin: 0 0 20px 0;
    word-break: break-word;
    @include responsive(lg) {
        font-size: 20px;
    }
    @include responsive(md) {
        font-size: 18px;
    }
    @include responsive(sm) {
        font-size: 16px;
    }
}


a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #000; 
    &:hover{
        color: $white;
    }
}

ul{
    font-family: "Roboto", sans-serif;
    margin: 0 0 20px 0;
    padding: 0 0 0 30px;
}

li, div{
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    word-break: break-word;
}

p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    word-break: break-word;
    @include responsive(md) {
        font-size: 16px;
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .loading::before {
    content: '';
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid $dk-pink; /* Change this color to your preference */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 20px;
  }