$max-width: 1240px;
$desktop-width: 1440px;
$standard-vertical-spacing: 60px;

$breakpoints: (
  xxl: (min: 1101px ),
  xl: ( min: 921px, max: 1100px ),
  lg: ( min:769px, max:920px ),
  md: ( min: 481px, max:768px ),
  sm: ( min: 361px, max:480px ),
  xs: ( max:360px )
); // min widths are only used when 'true' is passed as second param to the responsive() mixin
          
//colors
$lt-black: #737373;
$black: #000000;
$white: #ffffff;

$lt-yellow: #F6F4EF;
$yellow: #fbf8cc;
$yellow-logo: #FFD557;
$porcelain: #fde4cf;
$rose: #ffcfd2;

$purple: #f1c0e8;
$dk-purple: #cfbaf0;
$blue-purple: #a3c4f3;

$dk-blue: #90dbf4;
$blue: #8eecf5;

$green-blue: #98f5e1;
$green: #b9fbc0;

$cv-lt-green: #CAE4DA;
$cv-green: #B0CDC2;
$cv-dk-green: #8EB8A8;

$lt-brown: #EBDAC4;
$brown: #E6D0B2;
$dk-brown: #E4C8A2;

$lt-pink: #EDD6D6;
$pink: #E8C4C4;
$dk-pink: #DBA6A6;

// text colour
$neutral-black: #0d1b2a;
$dk-navy: #1b263b;
$navy: #415a77;
$lt-navy: #778da9;
$dk-white: #e0e1dd;







