@import '../../../scss/helpers/import';

.component{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 40px 0;
    background-color: $white;
}
.logo{
    position: relative;
}

@keyframes iconGrow{
    0%{
        box-shadow: 0px 0px 0px 40px $red;
        opacity: 0
    }
    100%{
        box-shadow: 0px 0px 0px 11px $red;
        opacity: 1;
    }
}
@keyframes logoIn{
    0%{
        transform: translateX(-20px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity:1;
    }
}
@keyframes cutIn{
    0%{
        transform: rotateZ(-270deg);
        opacity: 0;
    }
    100%{
        transform: rotateZ(0deg);
        opacity: 1;
    }
}
.logoText{
    animation: logoIn 1000ms 600ms $ease-out-quint both;
}
.icon{
    position: absolute;
    top:16px;
    width: 41px;
    height: 41px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 11px $red;
    animation: iconGrow 800ms 200ms $ease-out-back both;
}
.iconCut{
    position: absolute;
    top: -5px;
    left: -1px;
    animation: cutIn 600ms 600ms $ease-out-quint both;
    transform-origin: 21px;
}
.wrapper{
    @include centered($max-width);
    display: flex;
    align-items: center;
}
@keyframes burgIn {
    0%{
        transform: translateX(100px) scaleX(4);
        opacity:0;
    }
    100%{
        transform: translateX(0px) scaleX(1);
        opacity:1;
    }
}
.menuBurger{
    margin-left: auto;
    width: 44px;
    > div{
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background-color: $red;
        margin-bottom: 8px;
        animation: burgIn 800ms $ease-out-quint both;
        @include animation-sequence(60ms, 4);
    }
}