@import '../../../scss/helpers/import';

.component{
    height: auto;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 30px 0;
    background-color: $black;
    z-index: 99;
}
.logo{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 100%;
}

@keyframes iconGrow{
    0%{
        box-shadow: 0px 0px 0px 40px $yellow;
        opacity: 0
    }
    100%{
        box-shadow: 0px 0px 0px 11px $yellow;
        opacity: 1;
    }
}
@keyframes logoIn{
    0%{
        transform: translateX(20px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity:1;
    }
}
@keyframes cutIn{
    0%{
        transform: rotateZ(-270deg);
        opacity: 0;
    }
    100%{
        transform: rotateZ(0deg);
        opacity: 1;
    }
}
.homelink{
    text-decoration: none;
    color:$white;
    height: 120px;
    cursor: pointer;
    &_light{
        @extend .homelink;
        color: $black;
    }
}

.logoText{
    margin: 0;
    animation: logoIn 1000ms 600ms $ease-out-quint both;
    text-align: right;
}
.icon{
    position: relative;
    width: 120px;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 11px $yellow;
    background-color: $yellow;
    animation: iconGrow 800ms 200ms $ease-out-back both;
    &_shrink{
        @extend .icon;
        width: 60px;
        height: 60px;
    }
}
.iconCut{
    position: relative;
    width: 120px;
    height: 120px;
    top: -5px;
    left: -1px;
    animation: cutIn 600ms 600ms $ease-out-quint both;
    transform-origin: 21px;
}
.wrapper{
    @include centered($max-width);
    display: flex;
    align-items: center;
    height: 100%;
}
@keyframes burgIn {
    0%{
        transform: translateX(-100px) scaleX(4);
        opacity:0;
    }
    100%{
        transform: translateX(0px) scaleX(1);
        opacity:1;
    }
}
.menuBurger{
    margin-right: auto;
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    rotate: 0deg;
    transition: all 0.75s $ease-out-quint;
    z-index: 99;
    > div{
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background-color: $yellow;
        animation: burgIn 800ms $ease-out-quint both;
        @include animation-sequence(60ms, 4);
    }
    &_close{
        @extend .menuBurger;
        rotate: 45deg;
        transition: all 0.75s $ease-out-quint;
        > div {
            position: absolute;
            top: 21px;
        }
    }
}

.menu_wrapper{
    display: flex;
    flex-direction: row;
    background: rgba($color: $neutral-black, $alpha: 1);
    position: absolute;
    min-width: 360px;
    width: calc(10vw + ((100% - $max-width) / 2));
    height: 100vh;
    top: 0;
    left:0;
    &::before{
        content: "";
        display: block;
        background: none;
        width: calc((100vw - $max-width) / 2);
        height: 100%;
    }
    @include responsive ($max-width){
        width: 30%;
        &::before{
            width: 0;
        }
    }
}

.menu{
    padding: 150px 0 0 30px;
    color: $white;
    width: auto;
    height: 100%;
    &Open{
        opacity: 1;
        transform: translateY(0);
        transition: all 0.75s $ease-out-quint;
    }
    &Close{
        opacity: 0;
        transform: translateY(-100vh);
        transition: all 0.75s $ease-out-quint;
    }
    &_list{
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Kulim Park";
    font-size: 20px;
    line-height: 130%;
    font-size: 20px;
    line-height: 130%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 30px;
    }
}