@import '../../../scss/helpers/import';
.component{
    @include centered($max-width);
    text-align: center;
    background-color: red;
    h1{
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 60px;
    }
}