
.component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 40px 60px;
}

.link_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    a{
        text-align: right;
        color: #fff;
    }
}

.disclaimer{
    align-self: flex-end;
    width: 50%;
    height: auto;
}