@import "../../scss/helpers/import.scss";

.component {
    background-color: $lt-yellow;
    height: 350px;
    padding: 50px 0;
}

.inner{
    @include centered ($max-width);
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 770px;
    h1{
        color: $lt-black;
    }
}


