@import "../../scss/helpers/import.scss";

.header {
  background-color: $white;
  z-index: 1000;
  position: sticky;
  top: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  &.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
  @include responsive(md) {
    display: none;
  }
}

.wrapper {
  @include centered($max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  &_main {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      animation: logoIn 800ms 200ms $ease-out-back both;
    }
  }
  &_shadow {
    position: absolute;
    width: 67px;
    height: 90px;
    animation: iconGrow 800ms 200ms $ease-out-back both;
    z-index: -1;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 67px;
      height: 90px;
      background-color: #B0CDC2;
      z-index: -1;
      clip-path: polygon(
        50% 0%,  /* Top point */
        100% 21%, /* Top-right point */
        100% 79%, /* Bottom-right point */
        50% 100%, /* Bottom point */
        0% 79%,  /* Bottom-left point */
        0% 21%   /* Top-left point */
      );
    }
  }
  a {
    display: flex;
    margin: 0;
  }
  h5 {
    margin: 0;
    color: $lt-black;
    animation: textIn 1000ms 600ms $ease-out-quint both;
  }
}

.menuLink {
  transition: all 0.3s $ease-out-quint;
  animation: panelDrop 800ms $ease-out-quint both;
  &_wrapper {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  a {
    padding: 10px;
    text-decoration: none;
    color: $lt-black;
    font-weight: bold;
    transition: all 0.3s $ease-out-quint;
  }
  &:hover {
    transition: all 0.3s $ease-out-quint;
    a {
      color: $dk-navy;
      background-color: $lt-brown;
      transition: all 0.3s $ease-out-quint;
    }
  }
}

@keyframes iconGrow {
  0% {
    filter: drop-shadow(0px 20px 100px #B0CDC2);
    opacity: 0;
  }
  100% {
    filter: drop-shadow(0px 4px 15px #B0CDC2);
    opacity: 1;
  }
}

@keyframes logoIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes textIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes panelDrop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}