import React from 'react';
import styles from './{{name}}.module.scss';

export default function {{name}}({content}) {
  return(
    <div className={styles.component}>
      <div className={styles.wrapper}>
        <h1>{{name}}</h1>
      </div>
    </div>
  );
}
