@import '../../../scss/helpers/import';

.component{width: 100%;}
.wrapper{
    @include centered($max-width);
    margin: {
        top: $standard-vertical-spacing;
        bottom: $standard-vertical-spacing;
    };
    h4{
        margin-bottom: 0;
        @include scroll-animation($anim: fromLeft, $sequence: 60ms, $speed: 1000ms );

    }
    p{
        @include scroll-animation($anim: fromLeft, $sequence: 60ms, $speed: 1000ms );
    }
    @include scroll-animation($anim: fromLeft, $sequence: 60ms, $speed: 1000ms );
}