@import'../../styles/helpers/import';

.component{
  @include centered($max-width);
    margin: {
        top: 0;
        bottom: 0;
    };
}

.wrapper{
  display: flex;
}

.inner{
  display: block;
  background-color: antiquewhite;
  padding: 30px;
  margin: 20px 0;
  width: calc(70% - 60px);
  border-radius: 10px;
  position: relative;
}

.image{
  width: calc(30%);
  img{
    position: relative !important;
  }
}
